force-app/main/default/flows/Premium_Assignment_Business_Process_Flow_Fires_after_membership_flows_if_the_pro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Premium_ID</name>
        <label>Assign Premium ID</label>
        <locationX>138</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>StorePremiumID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Unmatched_Premium_Offers.Premium__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Premium_Assignment_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StorePremiumID</name>
        <label>Assign StorePremiumID</label>
        <locationX>754</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>StorePremiumID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Premium_Offers.Premium__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Premium_Assignment_PE2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_existing_Premium_Assignments</name>
        <label>Are there existing Premium Assignments</label>
        <locationX>556</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Premium_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_the_List_Null</targetReference>
            </connector>
            <label>Yes Existing</label>
        </rules>
        <rules>
            <name>None_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Premium_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Premium_Offers</targetReference>
            </connector>
            <label>None Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_List_Null</name>
        <label>Was the List Null</label>
        <locationX>182</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Premium_Offers_of_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Unmatched_Premium_Offers</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Premiums_Declined</name>
        <label>Were Premiums Declined</label>
        <locationX>875</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Membership.Decline_Premiums__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_existing_Premium_Assignments</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Premium Assignment Business Process Flow - Fires after membership flows if the product on a membership changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Premium Assignment Listener Flow - Fires after membership flows if the product on a membership changes</label>
    <loops>
        <name>Loop_Through_Premium_Offers</name>
        <label>Loop Through Premium Offers</label>
        <locationX>666</locationX>
        <locationY>710</locationY>
        <collectionReference>Get_Premium_Offers_of_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_StorePremiumID</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Unmatched_Premium_Offers</name>
        <label>Loop Through Unmatched Premium Offers</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <collectionReference>Get_Premium_Offers_of_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Premium_ID</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Premium_Assignment_PE</name>
        <label>Create Premium Assignment PE</label>
        <locationX>138</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Loop_Through_Unmatched_Premium_Offers</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Membership.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>StorePremiumID</elementReference>
            </value>
        </inputAssignments>
        <object>Create_Premium_Assingment__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Premium_Assignment_PE2</name>
        <label>Create Premium Assignment PE2</label>
        <locationX>754</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Loop_Through_Premium_Offers</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Membership.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordID__c</field>
            <value>
                <elementReference>StorePremiumID</elementReference>
            </value>
        </inputAssignments>
        <object>Create_Premium_Assingment__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Membership</name>
        <label>Get Membership</label>
        <locationX>875</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Premium_Offers_of_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Premium_Assignment</name>
        <label>Get Premium Assignments</label>
        <locationX>875</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_Premiums_Declined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Membership.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Premium_Assignment1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Premium_Offers_of_Product</name>
        <label>Get Premium Offers of Product</label>
        <locationX>875</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Premium_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Membership.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Premium_Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership</targetReference>
        </connector>
        <object>Premium_Assignment__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MatchorNot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StorePremiumID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnmatchedPremiumOffers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Premium_Offer__c</objectType>
    </variables>
</Flow>
